{
  "openapi": "3.0.0",
  "info": {
    "title": "Currículo ESO LOMLOE",
    "version": "1.0.0",
    "description": "API simulada para consultar el currículo de la ESO según el RD 217/2022 (LOMLOE) por curso, materia y bloque."
  },
  "servers": [
    {
      "url": "https://api.curriculo.educacion.simulada.es",
      "description": "Servidor de ejemplo (simulado)"
    }
  ],
  "paths": {
    "/curriculo/eso/{curso}/{materia}/{bloque}": {
      "get": {
        "summary": "Obtener contenidos curriculares de una materia en ESO",
        "parameters": [
          {
            "name": "curso",
            "in": "path",
            "required": true,
            "description": "Curso de la ESO (1, 2, 3 o 4)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "materia",
            "in": "path",
            "required": true,
            "description": "Nombre de la materia (ej: lengua, matematicas, historia)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bloque",
            "in": "path",
            "required": true,
            "description": "Tipo de contenido: competencias, criterios o saberes",
            "schema": {
              "type": "string",
              "enum": [
                "competencias",
                "criterios",
                "saberes"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta con los contenidos solicitados",
            "content": {
              "application/json": {
                "example": {
                  "curso": 2,
                  "materia": "lengua",
                  "bloque": "criterios",
                  "resultados": [
                    "Extraer e interpretar el sentido global, los temas y la intención comunicativa de textos orales y escritos.",
                    "Realizar inferencias e hipótesis sobre el contenido de los textos.",
                    "Aplicar estrategias de lectura comprensiva para distintos géneros."
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}